<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Merci de participer à l'initiative solidaire, <%= @user.first_name %> <%= @user.last_name %>!</h1>
    <p>Voici votre mot de passe pour vous connecter à l'aide de votre addresse email sur le site "METTRE LE SITE ICI"</p>
    <p><%= @password %></p>
  </body>
</html>
