<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour, l'utilisateur <%= @user.first_name %> <%= @user.last_name %> a besoin de votre aide</h1>
    <p>Merci d'entrer en contact avec lui au plus vite pour faciliter la résolution de l'incident</p>
  </body>
</html>
