    <section>
      <div class="container" style="margin-top: 100px;">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div>
              <br>
              <h6 class="mb-4 type1">Vous trouverez à ce lien des documents utiles (template de contact, informations sur les assurances, FAQ) pour vous acompagner :</h6>
              <h6 class="mb-4 type1">Grâce à Axa, les personnes déclarant le prêt d’un logement depuis la plateforme Logements Solidaires bénéficient gratuitement :

<p>- d’une garantie jusqu’à 50 000 € dans les cas où l’emprunteur causerait un dommage à l’immeuble ou aux biens qu’il contient, et ne serait pas couvert par une assurance personnelle ;</p>

<p>- d’une assistance juridique à la résolution amiable de tout litige pouvant survenir avec l’emprunteur.</p>
</h6>
              <br>
              <br>
              <div class="row propose justify-content-center">
                <a href="https://drive.google.com/drive/folders/16_hRlss99KCH_w6Dlz5nH9adTC5Q9Crt" target="_blank" class="btn btn-warning text-white py-3 px-4">Dossier Google Drive <br> Aide et documentation</a>
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>
