    <section>
      <div class="container" style="margin-top: 100px;">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div>
              <br>
              <h6 class="mb-4 type1">Vous trouverez à ce lien des documents utiles (template de contact, informations sur les assurances, FAQ) pour vous acompagner :</h6>
              <br>
              <br>
              <div class="row propose justify-content-center">
                <a href="#" class="btn btn-warning text-white py-3 px-4">Dossier Google Drive <br> Aide et documentation</a>
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>
