    <div class="container-fluid">
        <div class="col-12">
            <div class="row cardRow">
              <div class="col-8 " style="margin-left: 150px;">
                <h6 class="mb-4 type1">Vous trouverez à ce lien des documents utiles (tremplate de contact, informations sur les assurances, FAQ ) pour vous acompagner :</h6>
              </div>

            </div>
            <div class="row propose justify-content-center">
                <a href="#" class="btn btn-warning text-white">Dossier Google Drive <br> Aide et documentation</a>
            </div>
        </div>
    </div>

