<%= render 'shared/banner' %>

<%= render 'shared/navbar_user' %>


<section>
  <div class="container" style="margin-top: 100px;">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div>
          <h5 class="mb-4"><span class="text-primary">QUI SOMMES NOUS ?</span> </h5>

          <br>
          <p class="lead type1">" Nous sommes une équipe de plus de 30 bénévoles qui a fait le constat depuis le début de cette crise sanitaire qu'un accompagnement de nos soignants est nécessaire. Eux-aussi doivent pouvoir sécuriser leurs proches."</p>
          <br>
          <p class="lead type2">A l’initiative de Charles Osborn, nous nous sommes fédérés grâce aux réseaux sociaux en seulement quelques jours avec la volonté de mettre en place le plus rapidement possible une solution. Nous nous sommes aujourd'hui organisés sous la forme d'une association à but non lucratif - loi de 1901 - et notre action est menée par un  Conseil d'Administration et un Bureau provisoire élu au sein de ce collectif de bénévoles lors d'une assemblée générale constitutive du 17 avril 2020.<br /> N'hésitez pas à adhérer à l'association en nous : <a href="mailto:contact@les-logements-solidaires.com"> contactant </a>si vous souhaitez continuez à construire avec nous cet écosystème de solidarité autour du logement, un appel à adhésion sera prochainement diffusé sur les réseaux sociaux et une nouvelle assemblée générale permettra d'élire les membres permanents du Conseil d'administration et du Bureau. L'action de l'association est menée de manière collégiale et indépendamment de tout intérêt privé, son objectif étant d'être la plus efficace possible pendant la crise afin d'aider les personnes se trouvant en situation d'urgence à se loger.<br /> L'action de l'association se fonde depuis ses premiers pas sur le bénévolat collaboratif et la solidarité autour de trois principes fondamentaux : Bienveillance, Désintéressement et Dévouement. La déclaration de l'association Les Logements Solidaires a été faite en ligne sur le site service-public.fr et sera prochainement publiée au Journal Officiel des associations et fondations d'entreprises. Les statuts de l'association sont accessibles <a href="https://drive.google.com/open?id=1AzfoB05xVMWcO_cVDdSLhMDDK_d6bIRi">ici</a> . Une Charte Déontologique et un Règlement Intérieur viendront préciser ces statuts.</p>
          <p class="lead type2"> Notre plateforme regroupe une communauté de logeurs solidaires. Chaque logeur met gratuitement à disposition du personnel soignant son bien pour une durée déterminée. L'association Les Logements Solidaires ne prélève aucune commission ni contrepartie financière dans cette mise en relation. Chaque personne solidaire de ce projet agit à l'unisson pour permettre à nos soignants de ne plus avoir peur de rentrer chez eux et de mettre en danger leurs proches. Nous venons des quatre coins de la France et d'horizons professionnels différents. Nous avons tous à coeur d'unifier notre solidarité pour soutenir les personnes mobilisées en première ligne qui luttent chaque jour contre cette crise sanitaire sans précédent.</p>
          <br>
          <br>
          <p class="lead type1">Après vous être enregistré sur le site, vous trouverez sous l’onglet “Aide et documentation” les documents utiles à l'accompagnement de votre solidarité, comme la FAQ que nous mettons à jour au fur et à mesure de vos questions. La charte déontologique des " Logements Solidaires " est également disponible. Elle guide notre engagement et celui de toute personne désireuse de nous rejoindre autour de trois principes : bienveillance, désintéressement et dévouement.</p>
          <p class="lead type2">Nous travaillons tous bénévolement et faisons notre maximum pour vous fournir une plateforme opérationnelle et simple d'utilisation afin de permettre le plus rapidement possible de répondre à l'urgence de la situation.</p>
          <p class="lead type2">Nous comptons sur vous pour nous aider à construire cet écosystème de solidarité. N’hésitez pas à partager également ce site autour de vous de manière à ce qu’un maximum de soignants et de logeurs solidaires puisse être mis en relation.</p>
          <p class="lead type2">Prenez soin de vous,</p>
          <p class="lead type2">Les Logements Solidaires</p>
        </div>
        <div class="d-flex justify-content-center">
          <img class="text-center" src="<%= image_url('logobleu.png') %>" alt="Logements Solidaires">
        </div>
      </div>
    </div>
  </div>
</section>

<div class="margintop"> </div>
