<%= render 'shared/banner' %>

<div class="container blogMenu" style="margin-top: 25px;">
  <div class="dashboardLink">
    <ul class="nav justify-content-center" >
      <li class="nav-item">
        <%= link_to "Accueil", root_path, class: "activeLink" %>
      </li>
    </ul>
  </div>
</div>


<div class="container-fluid">

  <div class="col-12">

    <div class="row cardRow">
      <div class="col-12 p-4" >
        <h4 class="colorwar">MÉNTIONS LÉGALES</h4>
      </div>

      <div class="col-12 " >
        <h6 class="mb-4 type1">Que vous soyez propriétaire ou demandeur, seul votre email sera transmis.</h6>
      </div>
      <div class="col-12 " >
        <h6 class="mb-4 type1">Association en cours de création</h6>
      </div>

      <div class="col-8 " >
        <h6 class="mb-4 type1">Responsable de publication : Lorenzo Charles Sbordone</h6>
      </div>

      <div class="col-12 " >
      </div>

      <div class="col-8 " >
      </div>

      <div class="col-12 " >
        </h6>
      </div>
    </div>

  </div>
</div>


<div class="container-fluid">

  <div class="col-12">

    <div class="row cardRow">
      <div class="col-8 " >
        <h4 class="colorwar">POLITIQUE DE CONFIDENTIALITE</h4>
      </div>
      <div class="col-12 " >
      </div>

      <div class="col-8 " >
        <h6 class="mb-4 type1">Engagement de confidentialité et données personnelles</h6>
      </div>

      <div class="col-12 " >
        <h6 class="mb-4 type1">Les informations collectées sont destinées à l’usage de les-logements-solidaires.com. Elles nous permettent de vous mettre en relation avec les bailleurs. Ces données ne sont pas destinés à être divulguées ou cédées commercialement.</h6>
      </div>

      <div class="col-8 " >
        <h6 class="mb-4 type1">Conformément à la Loi Informatique et Libertés n° 78-17 du 6 janvier 1978, nous vous informons que la collecte des informations dont la saisie est obligatoire, est nécessaire au traitement de votre demande. Vous disposez d’un droit d’accès, de modification, de rectification et de suppression des données vous concernant. Vous pouvez l’exercer en écrivant à les-logements-solidaires.com
      </div>

    </div>

  </div>
</div>
