<%= render 'shared/banner' %>

<%= render 'shared/navbar_user' %>


<section>
  <div class="container" style="margin-top: 100px;">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div>
          <h5 class="mb-4"><span class="text-primary">MÉNTIONS LÉGALES </span> </h5>

          <br>
          <p class="lead type1"><strong>Que vous soyez propriétaire ou demandeur, seul votre email sera transmis.</strong>
          </p>
          <br>
          <p class="lead type2"> La déclaration de l'association Les Logements Solidaires a été faite en ligne sur le site service-public.fr et sera prochainement publiée au Journal Officiel des associations et fondations d'entreprises.</p>
          <p class="lead type2"> Responsable de publication : Les Logements Solidaires</p>
          <br>
          <br>
          <p class="lead type1"> Engagement de confidentialité et données personnelles</p>
          <p class="lead type2"> Les informations collectées sont destinées à l’usage de "Les-Logements-Solidaires.com". Elles nous permettent de vous mettre en relation avec les bailleurs. Ces données ne sont pas destinés à être divulguées ou cédées commercialement.</p>
          <p class="lead type2"> Conformément à la Loi Informatique et Libertés n° 78-17 du 6 janvier 1978, nous vous informons que la collecte des informations dont la saisie est obligatoire, est nécessaire au traitement de votre demande. Vous disposez d’un droit d’accès, de modification, de rectification et de suppression des données vous concernant. Vous pouvez l’exercer en écrivant à, <a href='mailto:solidarite-logements@gmail.com'>solidarite-logements@gmail.com</a><br></p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="margintop"> </div>
