<%= render 'shared/banner' %>

<%= render 'shared/navbar_user' %>

<section>
  <div class="container" style="margin-top: 100px;">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div>
          <h5 class="mb-4"><span class="text-primary">POLITIQUE DE CONFIDENTIALITÉ </span> </h5>

          <br>
          <p class="lead type2">
            La présente politique de confidentialité (ci-après désignée la «<strong>Politique de confidentialité</strong> ») définit le cadre légal de collecte, utilisation et traitement par l’Association des données personnelles des utilisateurs (ci-après désignés les « <strong>Utilisateurs</strong> ») naviguant et/ou faisant usage des services proposés ou proposant leurs services via la plateforme développée par l’association à but non lucratif “les logements solidaires, dont l’immatriculation est en cours au registre des commerces et des société de Montpellier (ci-après désignée «l’association») accessible à l’adresse www.les-logements-solidaires.com conçue et exploitée par l’association (ci-après désignée la « <strong>Plateforme</strong> »).
          </p>
          <p class="lead type2">
          </p>
          <p class="lead type2">
            Le renseignement des données personnelles collectées dans le cadre de la présente Politique de Confidentialité est obligatoire. Ces informations sont nécessaires pour le traitement et pour la fourniture des services proposés par l’Association via la Plateforme (ci-après désignés les « <strong>Services</strong> »). Le défaut de renseignements empêche le bon fonctionnement des Services proposés en ligne.
          </p>
          <p class="lead type2">
            l’Association s’engage à respecter la règlementation applicable en matière de protection des données personnelles et notamment les obligations découlant du règlement européen n° 2016/679 sur la protection des données personnelles (RGPD).
          </p>
          <p class="lead type2">
            l’Association collecte les données personnelles uniquement dans le respect des termes de la présente Politique de Confidentialité et de toute instruction légale et raisonnable donnée par l’Utilisateur à tout moment.
          </p>
          <p class="lead type2">
            Lorsque l’Association constate une violation de droits dans le cadre du traitement des données personnelles, cette violation sera notifiée à la CNIL dans un délai ne pouvant être supérieur à soixante-douze (72) heures après en avoir pris connaissance.
          </p>
          <p class="lead type2">
            Toute violation relative au traitement des données personnelles de l’Utilisateur sera notifiée à celui-ci par e-mail, dans un délai d’un (1) mois.
          </p>
          <br>
          <p class="lead type1">
            ARTICLE 1 : INFORMATIONS COLLECTÉES
          </p>
          <p class="lead type2">
            <strong>1.1</strong> Pendant toute la durée de l’utilisation de la Plateforme et des Services, l’Association est susceptible de collecter toute information, identifiant directement ou indirectement l’Utilisateur, nécessaire à la création d’un compte sur la Plateforme et nécessaire au bon fonctionnement de la Plateforme (ci-après désignées les « <strong>Données Personnelles</strong> »).
          </p>
          <p class="lead type2">
            Lors de sa première connexion, l’Utilisateur consent expressément au traitement de ses Données Personnelles dans la limite d’un traitement strictement nécessaire au bon fonctionnement de la Plateforme.
          </p>
          <p class="lead type2">
            Le renseignement des informations nominatives collectées est obligatoire. Ces informations sont nécessaires pour le traitement et pour la fourniture des Services. Le défaut de renseignements empêche le bon fonctionnement des Services proposés en ligne.
          </p>
          <p class="lead type2">
            Sont notamment concernées :
          </p>
          <ul>
            <li>
              <p class="lead type2">
                Les Données Personnelles relatives à l’identité de l’Utilisateur et notamment sa civilité, nom, prénom, adresse électronique, numéro de téléphone, adresse et code postaux ;
              </p>
            </li>
            <li>
              <p class="lead type2">
                Les Données Personnelles relatives à l’activité de l’Utilisateur ;
              </p>
            </li>
            <li>
              <p class="lead type2">
                Les Données Personnelles relatives à la navigation, collectées automatiquement par l’Association et notamment l’adresse IP anonymisée, le navigateur utilisé, la durée de navigation, le système d’exploitation utilisé, la langue et les pages visualisées ;
              </p>
            </li>
            <li>
              <p class="lead type2">
                Les Données Personnelles relatives aux statistiques de visites de la Plateforme par les Utilisateurs et notamment les données de trafic et les autres données ou ressources de communication qu’utilise l’Utilisateur en accédant à la Plateforme ;
              </p>
            </li>
          </ul>
          <p class="lead type2">
            <strong>1.2</strong> Les Données Personnelles peuvent être collectées de manière directe lorsque l’Utilisateur les communique à l’Association au moyen des formulaires de création de compte d’Utilisateur, de demande de contact, d’inscription à la newsletter disponible sur la Plateforme et de signalement des contenus illicites.
          </p>
          <p class="lead type2">
            l’Association s’accorde le droit de revoir, parcourir ou analyser les communications échangées entre l’Association et les Utilisateurs, entre les Utilisateurs via la Plateforme à des fins de prévention des fraudes, d’évaluation des risques, de respect des règlements, d’enquête, de développement de Services, de recherche et d’assistance des Utilisateurs.
          </p>
          <p class="lead type2">
            Le renseignement des Données Personnelles collectées à ces fins est obligatoire et strictement nécessaire au bon fonctionnement de la Plateforme. A défaut les Services ne pourront être fournis.
          </p>
          <br>
          <p class="lead type1">
            ARTICLE 2 : USAGE DES DONNÉES PERSONNELLES COLLECTÉES
          </p>
          <p class="lead type2">
            l’Association utilise, stocke et traite les Données Personnelles, afin d’alimenter, comprendre, améliorer et développer la Plateforme, pour créer et maintenir un environnement de confiance avec les Utilisateurs ainsi que pour se conformer aux obligations légales lui incombant et notamment afin de :
          </p>
          <p class="lead type2">
            <em>2.1 Développement de la Plateforme</em>
          </p>
          <ul>
            <li>
              <p class="lead type2">
                Permettre aux Utilisateurs d’accéder à/utiliser la Plateforme ;
              </p>
            </li>
            <li>
              <p class="lead type2">
                Permettre aux Utilisateurs de communiquer avec le personnel de l’Association ;
              </p>
            </li>
            <li>
              <p class="lead type2">
                Gérer, protéger, améliorer et optimiser la Plateforme au travers des statistiques, analyses et études ;
              </p>
            </li>
            <li>
              <p class="lead type2">
                Fournir un service client adapté aux besoins des Utilisateurs ;
              </p>
            </li>
            <li>
              <p class="lead type2">
                Adresser aux Utilisateurs des messages d’assistance ou relatifs aux Services, mises à jour, alertes de sécurité et des notifications ;
              </p>
            </li>
            <li>
              <p class="lead type2">
                Dans le cadre du déroulement des actions de détection et de prévention des fraudes ;
              </p>
            </li>
          </ul>
          <p class="lead type2">
            <em>2.2 Création et maintien d’un environnement de confiance des Utilisateurs</em>
          </p>
          <ul>
            <li>
              <p class="lead type2">
                Détecter et prévenir les fraudes, abus, incidents de sécurité et autres activités préjudiciables ;
              </p>
            </li>
            <li>
              <p class="lead type2">
                Mener des enquêtes de sécurité et des évaluations de risque ;
              </p>
            </li>
            <li>
              <p class="lead type2">
                Vérifier ou authentifier les informations ou identifications transmises par les Utilisateurs ;
              </p>
            </li>
            <li>
              <p class="lead type2">
                Respecter les obligations légales incombant à l’Association ;
              </p>
            </li>
            <li>
              <p class="lead type2">
                Résoudre les éventuels litiges avec les Utilisateurs ;
              </p>
            </li>
          </ul>
          <p class="lead type2">
            <em>
              2.3 Fournir, Personnaliser, Évaluer et Améliorer notre Publicité et la Commercialisation des Services
            </em>
          </p>
          <ul>
            <li>
              <p class="lead type2">
                Envoyer des messages promotionnels, des informations commerciales et publicitaires ;
              </p>
            </li>
            <li>
              <p class="lead type2">
                Personnaliser, évaluer et améliorer la publicité des Services ;
              </p>
            </li>
          </ul>
          <br>
          <p class="lead type1">
            ARTICLE 3 : PARTAGE ET DIVULGATION DES DONNÉES PERSONNELLES
          </p>
          <p class="lead type2">
            <strong>3.1</strong> l’Association peut divulguer les Données Personnelles des Utilisateurs aux tribunaux, autorités gouvernementales ou chargées de l’application de la loi ou à des tiers autorisés, si la loi l’exige ou le permet, ou si une telle divulgation est raisonnablement jugée nécessaire : (i) pour respecter les obligations légales de l’Association , (ii) afin de se conformer au processus judiciaire et de donner suite aux réclamations présentées contre l’Association , (iii) pour répondre à des demandes vérifiées dans le cadre d’une enquête judiciaire ou d’une activité illégale prétendue ou soupçonnée ou de toute autre activité qui peut exposer l’Association , l’Utilisateur à une responsabilité légale.
          </p>
          <p class="lead type2">
            <strong>3.2</strong> l’Association a la faculté de sous-traiter tout ou partie de l’exécution des Services dans le respect des dispositions légales en vigueur.
          </p>
          <p class="lead type2">
            l’Association pourra également sous-traiter les prestations d’hébergement des Données Personnelles à la condition que les Données Personnelles soient traitées par une plateforme d’hébergement localisée sur le territoire de l’Union Européenne.
          </p>
          <p class="lead type2">
            Le sous-traitant sera autorisé́ à traiter pour le compte de l’Association les Données Personnelles nécessaires pour fournir les Services.
          </p>
          <p class="lead type2">
            <strong>3.3</strong> Les Données Personnelles peuvent être transmises auprès des prestataires techniques, dans la seule finalité de la bonne exécution des Services.
          </p>
          <br>
          <p class="lead type1">
            ARTICLE 4 : PROTECTION DES DONNÉES PERSONNELLES – DROITS DES UTILISATEURS
          </p>
          <p class="lead type2">
            <strong>4.1</strong> Les Données Personnelles communiquées par l’Utilisateur seront détruites au plus tard six (6) mois après la fin de l’utilisation des Services par l’Utilisateur. l’Association se réserve le droit de conserver certaines données afin de justifier, le cas échéant de la parfaite exécution de ses obligations contractuelles ou légales. Les données ainsi conservées seront limitées à ce que strictement nécessaire.
          </p>
          <p class="lead type2">
            <strong>4.2</strong> Dans tous les cas, les Utilisateurs profitent d’un droit d’accès, de rectification, de modification, d’opposition, de portabilité et de suppression des Données Personnelles le concernant en écrivant à l’adresse suivante : Osborn Charles, <a href='mailto:contact@les-logements-solidares.com'>contact@les-logements-solidaires.com</a><br>
                                 Conformément à la réglementation en vigueur, toute demande doit être signée et accompagnée de la photocopie d’un titre d’identité portant la signature de l’Utilisateur.
          </p>
          <p class="lead type2">
            Conformément à l’article 48 du règlement européen n° 2016/679 sur la protection des données, l’Association n’a pas nommé de délégué à la protection des Données Personnelles (DPO).
          </p>
          <p class="lead type2">
            L’Utilisateur pourra récupérer ses Données Personnelles dans un format ouvert et lisible. Le droit à la portabilité est limité aux données fournies par l’Utilisateur concerné. Il s’applique sur la base du consentement préalable de l’Utilisateur. l’Association s’engage à transférer, sur demande, dans un délai d’un (1) mois, tout document de recueil des Données Personnelles à l’Utilisateur afin de pouvoir mettre en œuvre le droit à portabilité. Les frais liés à la récupération des données sont à la charge de l’Utilisateur en faisant la demande.
          </p>
          <br>
          <p class="lead type1">
            ARTICLE 5 : SOUS-TRAITANCE DES DONNÉES PERSONNELLES
          </p>
          <p class="lead type2">
            l’Association a la faculté de sous-traiter tout ou partie de l’exécution des Prestations dans le respect des dispositions légales en vigueur.
          </p>
          <p class="lead type2">
            l’Association pourra également sous-traiter les prestations d’hébergement des Données Personnelles à la condition que les Données Personnelles soient traitées par une plateforme d’hébergement localisée sur le territoire de l’Union Européenne, ce que le Client reconnaît et accepte expressément.
          </p>
          <p class="lead type2">
            Le sous-traitant sera autorisé́ à traiter pour le compte de l’Association les Données Personnelles nécessaires pour fournir les Services. Les finalités de traitements, les Données Personnelles traitées, les catégories de personnes concernées sont similaires à celles de l’Association .
          </p>
          <p class="lead type2">
            l’Association déclare :
          </p>
          <ul>
            <li>
              <p class="lead type2">
                Avoir remis par écrit toute instruction concernant le traitement des Données Personnelles par le sous- traitant ;
              </p>
            </li>
            <li>
              <p class="lead type2">
                Veiller, au préalable et pendant toute la durée du traitement, au respect des obligations prévues par le règlement européen sur la protection des Données Personnelles de la part du sous-traitant ;
              </p>
            </li>
            <li>
              <p class="lead type2">
                Superviser le traitement, y compris réaliser les audits et les inspections auprès du sous- traitant ;
              </p>
            </li>
          </ul>
          <p class="lead type2">
            l’Association s’engage à ce que le sous-traitant :
          </p>
          <ul>
            <li>
              <p class="lead type2">
                Traite les Données Personnelles uniquement pour la ou les seule(s) finalité́(s) qui fait/font l’objet de la sous-traitance ;
              </p>
            </li>
            <li>
              <p class="lead type2">
                Traite les Données Personnelles conformément aux instructions de l’Association ;
              </p>
            </li>
            <li>
              <p class="lead type2">
                Garantisse la confidentialité́ des Données Personnelles à caractère personnel traitées ;
              </p>
            </li>
            <li>
              <p class="lead type2">
                Ait fait l’objet de formation nécessaire en matière de protection des Données Personnelles à caractère personnel ;
              </p>
            </li>
            <li>
              <p class="lead type2">
                Prenne en compte, s’agissant de ses outils, produits, applications ou services, les principes de protection des Données Personnelles dès la conception et de protection des Données Personnelles par défaut ;
              </p>
            </li>
            <li>
              <p class="lead type2">
                Informe immédiatement l’Association s’il considère qu’une instruction constitue une violation du règlement européen sur la protection des Données Personnelles ou de toute autre disposition du droit de l’Union ou du droit des États membres relative à la protection des Données Personnelles.
              </p>
            </li>
          </ul>
          <p class="lead type2">
            Le sous-traitant aidera l’Association à s’acquitter de son obligation de donner suite aux demandes d’exercice des droits des personnes concernées : droit d’accès, de rectification, d’effacement et d’opposition, droit à la limitation du traitement, droit à la portabilité́ des Données Personnelles, droit de ne pas faire l’objet d’une décision individuelle automatisée.
          </p>
          <p class="lead type2">
            l’Association s’engage à ce que le sous-traitant mette en œuvre :
          </p>
          <ul>
            <li>
              <p class="lead type2">
                Des mesures de pseudonymisation et de chiffrement des Données à caractère personnel ;
              </p>
            </li>

            <li>
              <p class="lead type2">
                Des moyens permettant de garantir la confidentialité́, l’intégrité́, la disponibilité́ la résilience constante des systèmes et des services de traitement ;
              </p>
            </li>
            <li>
              <p class="lead type2">
                Des moyens permettant de rétablir la disponibilité́ des Données à caractère personnel et l’accès à celles-ci dans des délais appropriés en cas d’incident physique ou technique ;
              </p>
            </li>
            <li>
              <p class="lead type2">
              Une procédure visant à tester, à analyser et à évaluer régulièrement l’efficacité́ des mesures techniques et organisationnelles pour assurer la sécurité́ du traitement.
              </p>
            </li>
          </ul>
          <p class="lead type2">
            l’Association déclare recevoir du sous-traitant toute la documentation nécessaire permettant de démontrer le respect des obligations et pour permettant la réalisation d’audits, y compris d’inspections, par l’Association ou un autre auditeur qu’il a mandaté, et contribuer à ces audits.
          </p>
          <p class="lead type2">
            l’Association demeure seule responsable à l’égard des Clients de la réalisation des Prestations confiées à un sous-traitant.
          </p>
          <br>
          <p class="lead type1">
            ARTICLE 6 : UTILISATION DES COOKIES
          </p>
          <p class="lead type2">
            Conformément à la délibération de la CNIL n° 2013-378 du 5 décembre 2013, l’Association informe, par ailleurs, que des cookies enregistrent certaines informations qui sont stockées dans la mémoire du disque dur de l’Utilisateur. Ces informations servent à générer des statistiques d’audience.
          </p>
          <p class="lead type2">
            Un message d’alerte, sous forme de bandeau, demande à l’Utilisateur, au préalable, s’il souhaite accepter les cookies.
          </p>
          <p class="lead type2">
            Les Utilisateurs se rendant sur la page d’accueil ou une autre page de la Plateforme directement à partir d’un moteur de recherche seront informés :
          </p>
          <ul>
            <li>
              <p class="lead type2">
                Des finalités précises des cookies utilisés ;
              </p>
            </li>
            <li>
              <p class="lead type2">
                De la possibilité de s’opposer à ces cookies et de changer les paramètres en cliquant sur un lien présent dans le bandeau ;
              </p>
            </li>
            <li>
              <p class="lead type2">
                et du fait que la poursuite de sa navigation vaut accord au dépôt de cookies sur son terminal.
              </p>
            </li>
          </ul>
          <p class="lead type2">
            Pour garantir le consentement libre, éclairé et non équivoque des Utilisateurs sur la Plateforme, le bandeau ne disparaitra pas tant qu’il n’aura pas poursuivi sa navigation.
          </p>
          <p class="lead type2">
            Sauf consentement préalable, le dépôt et la lecture de cookies ne seront pas effectués.
          </p>
          <br>
          <p class="lead type1">
            ARTICLE 7. NEWSLETTER
          </p>
          <p class="lead type2">
            En fonction des choix opérés par l’Utilisateur, il pourra être destinataire de la newsletter.
          </p>
          <p class="lead type2">
            En cochant la case prévue à cet effet ou en donnant expressément son accord à cette fin, l’Utilisateur accepte que l’Association puisse leur faire parvenir une newsletter (lettre d’information) pouvant contenir des informations relatives aux nouvelles activités proposées par les Partenaires de l’Association .
          </p>
          <p class="lead type2">
            Les Utilisateurs auront la faculté de se désinscrire de la newsletter en cliquant sur le lien prévu à cet effet, présent dans chacune des newsletters (lettres d’information).
          </p>
          </div>
      </div>
    </div>
  </div>
</section>


<div class="margintop"> </div>
