<%= render 'shared/banner' %>

<div class="container blogMenu" style="margin-top: 25px;">
  <div class="dashboardLink">
      <ul class="nav justify-content-center" >
        <li class="nav-item">
          <%= link_to "Accueil", root_path, class: "activeLink" %>
        </li>
      </ul>
    </div>
</div>


privacy_policy.html.erb
