<%= render 'shared/banner' %>

<div class="container blogMenu" style="margin-top: 25px;">
  <div class="dashboardLink">
      <ul class="nav justify-content-center" >
        <li class="nav-item">
          <%= link_to "Accueil", root_path, class: "activeLink" %>
        </li>
      </ul>
    </div>
</div>



    <section>
      <div class="container" style="margin-top: 100px;">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div>
              <h4 class="mb-4"><span class="text-primary">POLITIQUE DE CONFIDENTIALITÉ </span> </h4>
              <br>
              <p class="lead type1">La présente politique de confidentialité (ci-après désignée la « Politique de confidentialité ») définit le cadre légal de collecte, utilisation et traitement par l’Association des données personnelles des utilisateurs (ci-après désignés les « Utilisateurs ») naviguant et/ou faisant usage des services proposés ou proposant leurs services via la plateforme développée par l’association à but non lucratif “les logements solidaires, dont l’immatriculation est en cours au registre des commerces et des société de Montpellier (ci-après désignée «l’association») accessible à l’adresse www.les-logements-solidaires.com conçue et exploitée par l’association (ci-après désignée la « Plateforme »).
                <br>
              </p>
              <br>
              <p class="lead type1"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, a accusantium. Ipsum inventore
                commodi sint recusandae unde! Error, ad at recusandae delectus iste accusantium, eveniet reiciendis
                dignissimos ipsam nostrum a.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
