<%= render 'shared/banner' %>

<div class="container blogMenu" style="margin-top: 25px;">
  <div class="dashboardLink">
      <ul class="nav justify-content-center" >
        <li class="nav-item">
          <%= link_to "Accueil", root_path, class: "activeLink" %>
        </li>
      </ul>
    </div>
</div>


<div class="container-fluid">

  <div class="col-12">

    <div class="row cardRow">
      <div class="col-8 " >
        <h4 class="colorwar">POLITIQUE DE CONFIDENTIALITE</h4>
      </div>
      <div class="col-12 " >
        <h6 class="mb-4 type1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque doloribus ipsum corrupti a debitis non voluptatibus cumque delectus nihil, suscipit dolores, possimus dicta, beatae esse optio harum ipsam. Nobis, nesciunt?</h6>
      </div>

      <div class="col-8 " >
        <h6 class="mb-4 type1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita assumenda neque itaque, voluptatem a cum debitis inventore veniam. Exercitationem, odit dolore officiis amet nemo et architecto molestiae ipsa ipsam explicabo!</h6>
      </div>

      <div class="col-12 " >
        <h6 class="mb-4 type1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum modi unde obcaecati similique explicabo ex ducimus dolorem minus mollitia error laboriosam nisi consequatur perferendis, pariatur iste magnam harum enim quasi.</h6>
      </div>

      <div class="col-8 " >
        <h6 class="mb-4 type1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea culpa aut odio pariatur nesciunt cum autem ratione voluptatem, delectus non accusantium incidunt enim veniam facilis architecto consequuntur earum commodi modi.</h6>
      </div>

    </div>

  </div>
</div>
